/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Theming Angular Material

// Palettes
$primary: mat.define-palette(mat.$deep-purple-palette, 500);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

// Theme
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
@include mat.all-component-themes($theme);
* {
  font-family: "Poppins", "Courier New", "Courier, monospace";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
}

.snackbar-success {
  background-color: #32c832;
  color: white;
}
.snackbar-error {
  background-color: #e53935;
  color: white;
}
.snackbar-info {
  background-color: #1976d2; // bleu info
  color: #ffffff;
}
.snackbar-warning {
  background-color: #f9a825; // orange warning
  color: #000000;
}

// Dialog styles

.dialog-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 14px;
}

.action-button {
  font-weight: bold;
  background: none;
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  color: #673ab7;
  transition: all 0.5s ease;
}

.action-button:hover {
  background-color: #aeabab19;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 1px;
}

.trailing-button {
  cursor: pointer;
  padding: 8px;
}

.trailing-button:hover {
  background-color: #aeabab19;
}
