/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Theming Angular Material

// Palettes
$primary: mat.define-palette(mat.$deep-purple-palette, 500);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

// Theme
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
@include mat.all-component-themes($theme);
* {
  font-family: "Poppins", "Courier New", "Courier, monospace";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
}
