<div class="page">
  <div class="app-bar">
    <div class="title">
      <h1>Todo list</h1>
    </div>

    <div class="action">
      <button (click)="openDialog()" class="add-button">
        <i class="fas fa-add"></i>
      </button>
    </div>
  </div>
  <div class="body">
    <div class="todo-list">
      <app-todo-item
        (onDetails)="openDialog(todo)"
        (onDelete)="delete(todo.id!)"
        *ngFor="let todo of todoList"
        [todo]="todo"
      ></app-todo-item>
      <div *ngIf="showError" class="error-message">
        Impossible to load todo list
      </div>
    </div>
  </div>
</div>
