.todo-item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 10px;
  transition: all 0.2s ease;
}

.todo-item:hover {
  background-color: #aeabab10;
}

.title {
  //color: black;
}

.title {
  font-weight: 500;
}
.subtitle {
  font-weight: 300;
}

.state {
  padding: 2px 20px 2px 20px;
  font-weight: 400;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.completed {
  background-color: #32c83219;
  color: #32c832;
}

.on-going {
  background-color: #673ab719;
  color: #673ab7;
}

.start {
}
.trailing {
  display: flex;
  gap: 10px;
  align-items: center;
}

.fa {
  font-size: 1.2rem;
}

.fa-trash {
  color: rgb(177, 4, 4);
}

.fa-pen-to-square {
  color: #673ab7;
}
